<h1>Exemplo de um Aplicativo Web Usando OpenID Connect</h1>
<p>Olá e bem-vindo a este aplicativo. Este é um aplicativo de teste da Hotmart.</p>
<p>Para iniciar o processo de autenticação, <a href="/login">clique aqui</a>.</p>
