<h1>Exemplo de um Aplicativo Web Usando o CAS</h1>
<p>Olá e bem-vindo a este aplicativo. Este é um aplicativo de teste da Hotmart para o uso do CAS.</p>
<p>Para iniciar o processo de autenticação, clique no link abaixo.</p>
<p><a href="/login">Fazer login com a Hotmart</a></p>